<div class="contenedor">
  <div class="back-arrow">
    <img src="./../../../assets/img/flecha-izquierda.png" alt="" />
  </div>
  <div class="circulo">
    <div class="detalles">
      <div class="temperatura">
        <div class="columnaDatos">
          <div>
            <!-- <p>{{currentWeather.TemperaturaActual | kelvinCelsius}}</p> -->
            <span class="clear">Clear</span>
          </div>
          <div class="datos">
            <span>
              <p>Humidity</p>
              <!-- <p>{{currentWeather.Humedad}}</p> -->
            </span>
            <div class="linea"></div>
            <span>
              <p>Wind</p>
              <!-- <p>{{currentWeather.Viento}}</p> -->
            </span>
          </div>
        </div>
        <div class="columnaNombre">
          <!-- <h3>{{currentWeather.NombreCiudad}}</h3> -->
          <div class="linea2"></div>
        </div>
      </div>
      <div class="climaPronosticado"></div>
    </div>
  </div>
</div>
